<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<div class="container-xl px-4 mt-4">
  <!-- Account page navigation-->

  <hr class="mt-0 mb-4">
  <div class="row">
    <div class="col-lg-4 mb-4">
      <!-- Billing card 1-->
      <div class="card h-100 border-start-lg border-start-primary">
        <div class="card-body">
          <div class="small text-muted">Total Students</div>
          <div class="h3">2</div>

        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <!-- Billing card 2-->
      <div class="card h-100 border-start-lg border-start-secondary">
        <div class="card-body">
          <div class="small text-muted">Total Teachers</div>
          <div class="h3">15</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Payment methods card-->
  <div class="card card-header-actions mb-4">
    <div class="card-header">
      <button class="btn btn-sm btn-primary" type="button">Add Student</button>
    </div>
    <div class="card-body px-0">
      <table class="table mb-0">
        <thead>
        <tr>
          <th class="border-gray-200" scope="col">Name</th>
          <th class="border-gray-200" scope="col">Surname</th>
          <th class="border-gray-200" scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of students">
          <td>{{student.name}}</td>
          <td>{{student.surname}}</td>
          <td>
            <div class="float-right btn-group btn-group-sm">
              <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i> </a>
              <a href="#" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Billing history card-->
  <div class="card mb-4">
    <div class="card-header">
      <button class="btn btn-sm btn-primary" type="button">Add Teacher</button>
    </div>
    <div class="card-body p-0">
      <!-- Billing history table-->
      <div class="table-responsive table-billing-history">
        <table class="table mb-0">
          <thead>
          <tr>
            <th class="border-gray-200" scope="col">Name</th>
            <th class="border-gray-200" scope="col">Students</th>
            <th class="border-gray-200" scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let teacher of teachers">
            <td>{{teacher.name}}</td>
            <td>{{teacher.studentList}}</td>
            <td>
              <div class="float-right btn-group btn-group-sm">
                <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i> </a>
                <a href="#" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
